<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tracknowdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackNowDemo">
        <activity
            android:name=".DashboardMain"
            android:label="@string/title_activity_dashboard_main"
            android:theme="@style/Theme.TrackNowDemo.NoActionBar">

        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/NoActionBarActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBarActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/NoActionBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".DriverMapActivity"
            android:theme="@style/NoActionBarActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKJeGDFbocMl5zXhiHAxmOo3WznddaBrM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>